.profile-card {
    height: 120px;
    width: 260px;
    border: solid 1px grey;
    box-shadow: rgba(0,0,0,0.33) 3px 3px 5px;
    margin: 10px 20px;
    padding: 10px 40px;
}

.card-content {
    display: flex;
}

.card-details {
    margin-left: 10px;
}

img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}